@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #26262c;
}

header {
  background-color: #fdfdf9;
  text-align: center;
  position: sticky;
  top: 0;
  height: 55px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e5e2de;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  height: 18px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #26262c;
  height: 1px;
  width: 16px;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 5px;
}

.nav-toggle-label span::after {
  top: 5px;
}

nav {
  position: absolute;
  text-align: left;
  top: 56px;
  left: 0;
  width: 100%;
  background-color: #fdfdf9;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.search-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.fa-search {
  font-size: 20px;
}

.fa-shopping-bag {
  font-size: 20px;
}

main {
  background-color: #fdfdf9;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.card {
  position: relative;
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 30px;
}

.card-img {
  margin-bottom: 10px;
  width: 150px;
  height: 225px;
}

.product-name {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 5px;
  max-width: 150px;
  word-wrap: break-word;
}

footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #26262c;
  background-color: #f7f6f2;
}

.footer > * {
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25rem;
  margin-bottom: 2em;
}

.footer-left img {
  width: 50%;
}

h2 {
  font-weight: 500;
  font-size: 16px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer-right {
  display: flex;
  flex-flow: row wrap;
}

.footer-right > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.footer-bottom {
  text-align: center;
  padding-top: 50px;
}

.footer-left p {
  padding-right: 20%;
}

.socials a {
  display: inline-block;
  margin-right: 10px;
}

.socials a i {
  padding: 10px 6px;
  font-size: 30px;
}

@media screen and (min-width: 600px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: flex;
  }
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
  }
  .footer-right {
    flex: 2 0px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 15px;
  }
}
